<div class="container align-items-center">
        <div class="row text-center">
            <div class="col">
                <img src="assets/cat_home.gif" alt="Your GIF" class="img-fluid">
            </div>
        </div>
    </div>